* {
  box-sizing: border-box;
  /* box-sizing: content-box; */
}
html,
body,
#root {
  width: 100vw;
  height: 100vh;
}
html,
body {
  padding: 0;
  margin: 0;
}

#root {
  overflow: auto;
}
#app {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: min-content 1fr;
  width: 100vw;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "nav"
    "search";
  grid-template-rows: min-content min-content;
}

.nav-m {
  grid-area: nav;
  display: grid;
  grid-template-areas: "left gap right";
  grid-template-columns: min-content 1fr min-content;
}
.nav-m :nth-child(1) {
  grid-area: left;
}
.nav-m :nth-child(2) {
  grid-area: gap;
}
.nav-m :nth-child(3) {
  grid-area: right;
}

.search {
  grid-area: search;
}

main {
  grid-area: main;
}

#editor {
  max-height: 400px;
  overflow-y: hidden;
}

/* logo - start */

.traceguy {
  offset-path: path(
    "m-3.381 26.434h6.73v-23.898h-6.73ZM55 138.289h22.29v22.292l13.87 13.869v-50.03H41.13zm21.161 23.422H53.869v-22.292L40 125.55v50.03h50.03z"
  );
  fill: rgba(79, 212, 242, 0.487);
  offset-distance: 0%;
  animation-name: traceguy;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.logo {
  max-width: 600px;
}
.logo:hover {
  cursor: crosshair;
}
.logo:hover .traceguy {
  animation-iteration-count: infinite;
}

@keyframes traceguy {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

/* logo - end */
