@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  background-color: transparent !important;
}
.markdown-body ul {
  list-style: disc;
}
.markdown-body ol {
  list-style: decimal;
}
